@import 'lib/reset.css';

.nav-item + .nav-item {
    margin-bottom: 20px;
}

.nav-sub {
    padding-left: 30px;
}


.discussion-wrap {
    height: 500px;
    margin-top: 20px;
    background: #f9f9f9;
    overflow: auto;
}
.discussion {
    list-style: none;
    margin: 0;

        .message {
            background: #f9f9f9;
            padding: 10px;
            border-radius: 2px;
            
            &.self {
                text-align: right;
            }

            .message-name {
                padding-left: 2px;
                margin-bottom: 5px;

                h6 {
                    font-weight: 400 !important;
                    display: inline-block;
                    margin: 0 !important;
                }
            }

            .ui.card {
                width: auto;
                background: #fff;
                max-width: 230px;
                margin: 0!important;
                display: inline-block!important;
                border: none!important;

                .content {
                    padding: 0.7em 1em;
                }
            }

            p {
                font-size: 0.8em;
                margin: 0 0 0.2em 0;
            }

            time {
                bottom: 5px;
                display: inline-block;
                position: relative;
                font-size: 0.7em;
                color: #ccc;
                margin: 0 10px;
            }

            .cnt {
                color: yellow;
            }
        }

        &.self {
            justify-content: flex-end;
            align-items: flex-end;
        }
    
}